﻿<html>
<head>
    {% block head %}
    <link rel="stylesheet" href="style.css" />
    <title>{% block title %}{% endblock %} Photo Album</title>
    {% endblock %}
</head>
<body>
    <div id="content">{% block content %}
    <center>
    <h1>Photo Album</h1>
    <hr>
	   <ul class="list-group">
           {% for photo in variables.photos %}
	    <li class="list-group-item">
             <img src="{{ photo }}" class="img-circle" height="500" />
            </li>
	   {% endfor %}
           </ul>
    {% endblock %}
    <hr>
    </center>
   </div>
</body>
</html>